.trending-lang-lists {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-evenly;
	align-content: flex-start;
}

.trending-lang {
	border: unset;
	width: 400px;
	margin: 10px 0;
}

.trending-lang .title-lang {
	border: solid;
	border-width: 2px;
	background: yellow;
	margin: 0;
	padding: 0 10px;
	font-size: 1.6em;
}

.trending-lang .title-lang small {
	font-size: 40%;
}

.trending-item-list {
	border: unset;
	border-color: green;
}

.trending-item {
	border-left: solid;
	border-right: solid;
	border-bottom: solid;
	border-width: 1px;
	border-color: black;
}

.trending-item-title {
	margin: 0px;
}

.repo-description {
	font-size: 60%;
}

.trending-item-under-bar {
	display: flex;
}
.trending-item-under-bar span{
	padding-right: 2px;
}

.trending-item-language {
	min-width: 39%;
	border-top: solid;
	border-right: solid;
	border-width: 1px;
	margin: 0px;
	padding: 0 5px;
}

.trending-item-fork-count {
	min-width: 21%;
	border-top: solid;
	border-right: solid;
	border-width: 1px;
	margin: 0px;
	padding: 0 5px;
	text-align: right;
}

.trending-item-star-count {
	min-width: 25%;
	border-top: solid;
	border-right: solid;
	border-width: 1px;
	text-align: right;
	padding: 0 3px;
}

.trending-item-star-increase {
	min-width: 15%;
	border-top: inset;
	border-width: 1px;
	text-align: right;
	padding: 0 3px;
}


/* FROM https://icomoon.io/app/ */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-arrow-up {
  width: 0.9287109375em;
}

.icon-long-arrow-up {
  width: 0.4287109375em;
  padding-bottom: 0.1em;
}

.icon-book {
  width: 0.9306640625em;
}

.icon-star {
  /*width: 0.9287109375em; */
  width: 1.1em;
  stroke-width: 1px;
  stroke: black;
  color: yellow;

}

.icon-code-fork {
  width: 0.5712890625em;
}
