.trending-lang-lists {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-evenly;
	align-content: flex-start;
}

.trending-lang {
	border: solid;
	width: 500px;
}

.trending-lang .title-lang {
	margin: 0px;
	background: grey;
}

.trending-lang .title-lang small {
	font-size: 40%;
}

.trending-item-list {
}

.trending-item {
	display: flex;
	flex-flow: column;
	border: solid;
	border-color: green;
}
