.trending-lang-lists {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-evenly;
	align-content: flex-start;
}

.trending-lang {
	border: unset;
	width: 400px;
	margin: 10px 0;
}

.trending-lang .title-lang {
	border: solid;
	border-width: 2px;
	background: yellow;
	margin: 0;
	padding: 0 10px;
	font-size: 1.6em;
}

.trending-lang .title-lang small {
	font-size: 40%;
}

.trending-item-list {
	display: grid;
	grid-template-columns: max-content 2fr 2fr 1fr;

	border: unset;
	border-color: green;

}

.trending-item {
	border: solid;
	border-width: 1px;
	border-color: black;
	padding: 2px 5px;
	
	display: grid;
	grid-column: 1 / 5;
	grid-template-columns: subgrid;
}

.trending-item-title {
	grid-column: 1 / 5;
	grid-row: 1;
}

.trending-item-title p {
	margin: 0px;
}
.repo-description {
	font-size: 60%;
	grid-column: 1 / 5;
	grid-row: 2;
}

.trending-item-under-bar {
	display: grid;
	grid-column: 1/5;
	grid-row: 3;
	grid-template-columns: subgrid;
}

.trending-item-language {
	grid-column: 1;
	justify-self: start;
}

.trending-item-fork-count {
	grid-column: 2;
	justify-self: end;
}

.trending-item-star-count {
	grid-column: 3;
	justify-self: end;
}

.trending-item-star-increase {
	grid-column: 4;
	justify-self: end;
}


/* FROM https://icomoon.io/app/ */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-book {
  width: 0.9306640625em;
}

.icon-star {
  /*width: 0.9287109375em; */
  width: 1.1em;
  stroke-width: 1px;
  stroke: black;
  color: yellow;

}

.icon-code-fork {
  width: 0.5712890625em;
}
