{{define "title"}}Index{{end}}

{{ define "styles" }}
<link rel="stylesheet" href="/static/css/main.css">
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="/static/js/main.js"></script>
{{ end }}

{{define "body"}}
	{{ template "icon-defs" }}
	<div class="trending-lang-lists">
	{{ range .Langs }}
		{{ template "trending-lang" . }}
	{{ end }}
	</div>
{{end}}
