{{define "title"}}Index{{end}}

{{define "body"}}
	{{ template "icon-defs" }}
	<div class="trending-lang-lists">
	{{ range .Langs }}
		{{ template "trending-lang" . }}
	{{ end }}
	</div>
	<p>This is period {{ .Period }}</p>
	<p>The bolt part of the execution took {{ .BoltDur }}</p>
{{end}}
