{{- define "trending-item" -}}
	<div class="trending-item">
		<a class="trending-item-title" href="https://github.com/{{.RepoOwner}}/{{.RepoName}}">
		    <svg class="icon icon-book"><use xlink:href="#icon-book"></use></svg>
			{{- .RepoOwner -}}/{{- .RepoName -}}
		</a>

		<p class="repo-description">
			{{- .Description -}}
		</p>
		<div class="trending-item-under-bar">
			<div class="trending-item-language">
				{{- .Language -}}
			</div>
			<div class="trending-item-fork-count">
				<span>{{- .Forks -}}</span><svg class="icon icon-code-fork"><use xlink:href="#icon-code-fork"></use></svg>
			</div>
			<div class="trending-item-star-count">
				<span>{{- .Stars -}}</span><svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
			</div>
			<div class="trending-item-star-increase">
				<span>{{- .StarsIncrease -}}</span><svg class="icon icon-long-arrow-up"><use xlink:href="#icon-long-arrow-up"></use></svg>
			</div>
		</div>
	</div>
{{- end -}}
