{{ define "trending-lang" }}
	<div class="trending-lang" id="lang-{{ .Lang.StoreName }}">
		<div class="trending-lang-title-box" onClick='langTitleClick("{{.Lang.StoreName}}")'>
			<h1 class="trending-lang-title">{{.Lang.StoreName }}</h1>
			<h1 class="trending-lang-scraped">Scraped at {{ .Scraped.String }}</h1>
		</div>
		<div class="trending-item-list">
			{{- range .Items -}}
				{{- template "trending-item" . -}}
			{{- end -}}
		</div>
	</div>
{{ end }}
