{{- define "trending-item" -}}
	<div class="trending-item">
		<a href="https://github.com/{{.RepoOwner}}/{{.RepoName}}">
			<p>{{ .RepoOwner }}/{{ .RepoName}}</p>
		</a>

		<p class="repo-description">
		{{ .Description }}
		</p>
		<div class="trending-item-under-bar">
			<div class="trending-item-language">
			{{ .Language }}
			</div>
			<div class="trending-item-fork-count">
				{{ .Forks }} 
				<svg class="icon icon-code-fork"><use xlink:href="#icon-code-fork"></use></svg>
			</div>
			<div class="trending-item-star-count">
				{{ .Stars }} (+{{ .StarsIncrease }})
				<svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
			</div>
		</div>
	</div>
{{- end -}}
