{{ define "trending-lang" }}
	<div class="trending-lang">
		<h1 class="title-lang">{{.Lang.StoreName }} <small>Scraped at {{ .Scraped.String }}</small></h1>
		<div class="trending-item-list">
			{{ range .Items }}
				{{ template "trending-item" . }}
			{{ end }}
		</div>
	</div>
{{ end }}
